<div>
  <div>
    <app-default-button
      [title]="'Create a new Campaign'"
      [altText]="'Opens form to create a new campaign.'"
      [style]="'accent'"
      (activated)="openCreateModal()"
    ></app-default-button>
  </div>
  <br/>
    <div
      *ngIf="campaignsInfo$ | async as data"
      class="cdl-div"
    >
      <app-standard-table
      [tableColumns]="columns"
      [tableData]="data"
      >
      </app-standard-table>
    </div>
</div>

  <app-new-campaign-form
    *ngIf="showNewCampaignForm"
    (closeModal)="closeCreateModal()"
    (formSuccess)="createFormSuccess()"
  ></app-new-campaign-form>
