<app-modal [title]="formTitle" (closeEmitter)="closeModalEvent()">
  <div body>
    <form [formGroup]="newCampaignForm"class="form">
    <mat-form-field clfass="full-width">
      <mat-label>New Campaign Name</mat-label>
      <input
      matInput
      placeholder="New Campaign Name..."
      value=""
      formControlName="campaignName"
      >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Campaign Description</mat-label>
      <textarea
      matInput
      placeholder="e.g. Campaign to wander the apocalypse..."
      formControlName="campaignDescription"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Campaign tags</mat-label>
      <input
      matInput
      placeholder="e.g. 'post-apocalypse', 'undead-nightmare', etc."
      formControlName="campaignTags">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Campaign Theme</mat-label>
      <mat-select
        matInput
        placeholder="Select an option"
        formControlName="campaignTheme"
      >
        <mat-option *ngFor="let theme of themes" [value]="theme.value">
          {{theme.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  </div>
  <div footer>
    <div class="flex-row">
    <app-default-button
      [title]="'Cancel'"
    ></app-default-button>
    <app-default-button
      [title]="'Submit' | uppercase"
      [style]="'primary'"
      [altText]="'Submits the form and creates a new campaign'"
      (activated)="submitNewCampaign()"
    ></app-default-button>
  </div>
  </div>
</app-modal>
