<div>
  <div class="admin-card flex-col-25pc ht-150 space-between">
    <h2>Game Races</h2>
    <app-default-button
      [title]="'Create New Game Race'"
      [altText]="'Opens form to create a new game race.'"
      [style]="'primary'"
      (activated)="showGameRaceForm = true"
    ></app-default-button>
    <app-default-button
      [title]="'Show Game Races'"
      [altText]="'Opens listof existing game races.'"
      [style]="'accent'"
      (activated)="showGameRaceList = true"
    ></app-default-button>
  </div>
  <app-race-form
    *ngIf="showGameRaceForm"
    [gameRace]="selectedGameRace"
    [operation]="operation"
    (closeModal)="closeGameRaceModal()"
    (formSuccess)="createFormSuccess()"
  ></app-race-form>
  <app-race-table
    *ngIf="showGameRaceList"
    (closeModal)="closeListModal()"
    (editGameType)="editGameRace($event)"
  ></app-race-table>
</div>
